/*
    ONE DIV TO RULE TO THEM ALL,
    ONE DIV TO FIND THEM,
    ONE DIV TO BRING THEM ALL,
    AND IN DARKNESS BIND THEM.
*/
.mainContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* HEADER */
.stickToTop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
}

.mainTable {
    width: 100%;
    height: 80px;
}

.headerSearchCol {
    height: 100%;
    width: 8%;
    text-align: right;
    padding-right: 10px;
}

.headerInputCol {
    height: 100%;
    width: 23%;
}

.input {
    display: block;
    float: left;
    width: 400px;
}

.headerSubmitCol {
    height: 100%;
    width: 8%;
}

.headerStatusCol {
    height: 100%;
    width: 8%;
}

.headerMessageCol {
    width: 53%;
    height: 100%;
    white-space: nowrap;
}

/* GOOGLE CHART DIV */
.chart {
    width: 100%;
    /*height: 100%;*/
    top: 80px;
    bottom: 80px;
    position: absolute;
}


/* FOOTER */
.stickToBase {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.footerBackCol {
    width: 33%;
    height: 100%;
}

.back {
    display: block;
    margin: 0 auto;
    float: right;
}

.footerUpCol {
    width: 33%;
    height: 100%;
}

.up {
    display: block;
    margin: 0 auto;
}

.footerFwdCol {
    width: 33%;
    height: 100%;
}

.fwd {
    display: block;
    margin: 0 auto;
    float: left;
}
